.colr{
	color: #0185e3;
}

.box{
    padding: 20px;
    color: #0185e3;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0;
    border:1px solid #0185e3;
    margin-top: 10px;

}
.box:hover{
    color: #fff;
    background-color: #0185e3;
    border-color: #0185e3;
    transition: 0.5s;

}

.icon-menu{
	font-size: 100px;
}
a{
	text-decoration: none !important;
}